* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: rgba(0, 0, 0, 0.8);
  position: sticky;
  top: 0;
  z-index: 999;
}

.logo a {
  text-decoration: none;
  color: #ffba00;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.logo svg {
  margin-right: 10px;
}

.navlinks {
  list-style: none;
  display: flex;
  gap: 20px;
  position: absolute;
  left: 680px;
}

.navlinks li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.navlinks li a:hover {
  color: #ffba00;
}

.navlinks .dropdown {
  position: relative;
}

.dropbtn {
  background: none;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 600;
  padding: 5px;
  cursor: pointer;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #d4d4d4;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  min-width: 160px;
  z-index: 1;
}

.dropdown-content li {
  list-style: none;
}

.dropdown-content li a {
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.dropdown-content li a:hover {
  background-color: #d3d3d2;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.cta {
  background-color: #ffba00;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  width: 160px;
  text-align: center;
  transition: background-color 0.3s;
}

.cta:hover {
  background-color: #e09e00;
}

.hero-section {
  position: relative;
  text-align: left;
  color: white;
  padding: 80px;
}

.bg-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  filter: brightness(50%) contrast(70%) hue-rotate(150deg);
  top: 0;
  left: 0;
  z-index: -1;
}

.hero-content {
  position: relative;
  z-index: 1;
  max-width: 600px;
}

.nunito-sans-hero {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

.hero-content h1 {
  font-size: 64px;
  font-weight: 800;
  margin-bottom: 20px;
  font-family: "Nunito Sans", sans-serif;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 1.6;
  width: 650px;
}

.hero-button {
  display: inline-block;
  background-color: #ffba00;
  color: #0d0d0d;
  padding: 12px 30px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  width: 200px;
  transition: background-color 0.3s;
}

.hero-button:hover {
  background-color: #e09e00;
}

@keyframes imgRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img-png {
  position: absolute;
  left: 650px;
  top: 1px;
  width: 512px;
  height: 512px;
  animation: imgRotate 50s linear infinite;
}

.section2 {
  background-color: white;
  height: 50vh;
}
.card-container {
  display: flex;
  gap: 50px;
  margin-top: 100px;
  justify-content: space-around;
}

.card1 {
  width: 400px;
  height: 250px;
  margin-top: 30px;
  margin-left: 30px;
  text-align: center;
  align-items: center;
}

.card2 {
  width: 400px;
  height: 250px;
  margin-top: 30px;
  text-align: center;
  align-items: center;
}

.card3 {
  width: 400px;
  height: 250px;
  margin-top: 30px;
  text-align: center;
  align-items: center;
}

.card4 {
  width: 400px;
  height: 250px;
  margin-top: 30px;
  margin-right: 30px;
  text-align: center;
  align-items: center;
}

.card1,
.card2,
.card3,
.card4 {
  box-shadow: 2px 2px 5px gray, -2px -2px 5px white;
  padding: 20px;
  border-radius: 10px;
}

.card1 p,
.card2 p,
.card3 p,
.card4 p {
  color: #858484;
}

.card1 h5,
.card2 h5,
.card3 h5,
.card4 h5 {
  color: #0d0d0d;
  margin-bottom: 8px;
  font-weight: 30px;
  font-size: 23px;
}

.person,
.cart,
.headset,
.robot {
  margin-bottom: 10px;
}

.card1:hover .person,
.card3:hover .cart,
.card4:hover .headset,
.card2:hover .robot {
  fill: white;
}

.card1:hover,
.card2:hover,
.card3:hover,
.card4:hover {
  background-color: #ffcb52;
}

.card1:hover h5,
.card2:hover h5,
.card3:hover h5,
.card4:hover h5 {
  color: white;
}

.card1:hover p,
.card2:hover p,
.card3:hover p,
.card4:hover p {
  color: white;
}

.card1,
.card2,
.card3,
.card4 {
  opacity: 0;
  transform: translateY(100px);
  animation: slideUp 1s ease forwards;
}

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card1 {
  animation-delay: 0.3s;
}

.card2 {
  animation-delay: 0.6s;
}

.card3 {
  animation-delay: 0.9s;
}

.card4 {
  animation-delay: 1.2s;
}

h1,
p,
.hero-button {
  opacity: 0;
  transform: translateX(-100%);
  animation: slideInFromLeft 1.5s ease forwards;
}

@keyframes slideInFromLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

h1 {
  animation-delay: 0.3s;
}

p {
  animation-delay: 0.6s;
}

.hero-button {
  animation-delay: 0.9s;
}

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: #fff;
}

.image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-right: 40px;
}

.image-grid img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.text-content {
  max-width: 500px;
}

.text-content h5 {
  font-size: 18px;
  color: #ff9900;
  margin-bottom: 5px;
}

.text-content h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.text-content h1 span {
  color: #ff9900;
  font-weight: bold;
}

.text-content p {
  font-size: 16px;
  color: #555;
  line-height: 1.8;
  margin-bottom: 20px;
}

.experience {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.experience div {
  text-align: center;
  display: flex;
  gap: 10px;
  border-left: 4px solid #ff9900;
}

.experience h2 {
  font-size: 48px;
  color: #ff9900;
  margin: 0;
}

.experience p {
  font-size: 14px;
  color: #333;
}

.read-more {
  display: inline-block;
  background-color: #ff9900;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  width: 170px;
  text-align: center;
  font-weight: bold;
}

.food-menu {
  width: 100%;
  padding: 20px;
  background-color: #fff;
  text-align: center;
}

.food-menu h5 {
  color: #ff9900;
  font-size: 18px;
  margin-bottom: 10px;
}

.food-menu h1 {
  font-size: 32px;
  margin-bottom: 30px;
  color: #333;
}

.menu-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  align-items: center;
  text-align: center;
}

.menu-tabs .tab {
  font-size: 16px;
  color: #555;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  position: relative;
}

.menu-tabs .tab::after {
  content: "";
  display: block;
  margin: 5px auto 0;
  width: 60px;
  height: 2px;
  background-color: #ff9900;
}

.menu-items {
  width: 100%;
  margin-left: 140px;
}

.menu-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

.menu-row .item-left {
  display: flex;
  align-items: center;
}

.menu-row img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 20px;
}

.menu-row .item-info h3 {
  font-size: 18px;
  color: #333;
  margin: 0;
}

.menu-row .item-info p {
  font-size: 14px;
  color: #777;
  margin: 5px 0 0;
}

.menu-row .item-price {
  font-size: 18px;
  color: #ff9900;
  font-weight: bold;
}

.menuone,
.menutwo,
.menuthree {
  display: flex;
  gap: 90px;
}

.reservation-container {
  display: flex;

  align-items: center;

  width: 100%;
}

.reservation-content {
  display: flex;
  width: 100%;
  background-color: #181743;
  color: white;
}

.reservation-image {
  position: relative;
  width: 50%;
  background-size: cover;
}

.reservation-image img {
  width: 409px;
  height: auto;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reservation-form {
  padding: 30px;
  width: 50%;
}

.reservation-form h2,
h3 {
  margin-bottom: 20px;
  color: #ffb400;
}

.reservation-form input,
.reservation-form select,
.reservation-form textarea {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.reservation-form button {
  width: 100%;
  padding: 15px;
  background-color: #ffb400;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.reservation-form button:hover {
  background-color: #ff9900;
}

.reservation-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.teamone {
  width: 600px;
  height: 600px;
}

.option,
.option2 {
  display: flex;
  gap: 10px;
}

.one,
.three {
  width: 200px;
  height: 50px;
}

.testimonial-section {
  text-align: center;
  padding: 50px;
  background-color: #f5f5f5;
}

.testimonial-slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-card {
  background-color: #fff;
  padding: 20px;
  margin: 10px;
  border: 1px solid rgb(192, 192, 192);
  width: 450px;
  height: 330px;
}

.testimonial-card h3{
  color: #ffb400;
  font-size: 70px;
  margin-right: 260px;
  margin-left: 0;
}

.testimonial-card.active {
  background-color: #ffb400;
  color: #fff;
}

.testimonial-card.active h3{
  color: white;
  font-size: 80px;
  margin-bottom: 0%;
  margin: right 260px; ;
}

.client-info {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.client-info img {
  border-radius: 50%;
  margin-right: 10px;
}

.client-info h4 {
  margin: 0;
}

.testimonial-section h2 {
  margin-bottom: 30px;
  font-size: 40px;
}

.testimonial-section h3 {
  margin-bottom: 30px;

}

.footer-section {
  background-color: #181743;
  color: white;
  padding: 40px;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
}

.footer-column {
  width: 23%;
}

.footer-column h4 {
  color: #ffb400;
  margin-bottom: 20px;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: white;
  text-decoration: none;
}

.footer-column .social-links a {
  color: white;
  margin-right: 10px;
  font-size: 18px;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
}

.footer-bottom a {
  color: #ffb400;
  text-decoration: none;
}

.footer-column input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
}

.footer-column button {
  width: 100%;
  padding: 10px;
  background-color: #ffb400;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.footer-column button:hover {
  background-color: #ff9900;
}


@media (max-width:768px) {

    .navlinks{
      display: none;
    }

    .navbar{
      width: 908px;
    }

    .hero-section{
      text-align: center;
      height: 400vh;
      left: 70px;
    }

    .img-png{
      left: 90px;
      top: 400px;
      
    }

    .section2{
      height: 250vh;
      width: 908px;
    }


    .card-container{
      flex-wrap: wrap;
    }

    .about-section{
      width: 908px;
      display: block  ;
    }

    .image-grid{
      flex-wrap: wrap;
    }

    .text-content{
      margin-top: 15px;
    }

    .food-menu{
      width: 908px;
    }

    .menu-items{
      margin: 0%;
    }

    .menu-row{
      justify-content: space-around;
    }

    .menuone,.menutwo,.menuthree{
      display: block;
    }

    .reservation-section{
      width: 908px;
    }

    .testimonial-section{
      width: 908px;
    }

    .footer-section{
      width: 908px;
    }
}


@media (max-width:320px) {
  
    .navlinks{
      display: none;
    }

    .navbar{
      width: 908px;
      height: 100px;
    }

    .hero-section{
      height: 400vh;
    }

    .section2{
      height: 500vh;
    }

    .card-container{
      display: block;
      margin-top: 10px;
    }

    .card1,.card2,.card3,.card4{
      width: 500px;
      height: 300px;
      margin-left: 200px;
    }

    .image-grid{
      display: flex;
      flex-direction: column;
    }

    .image-grid img{
      width: 650px;
      height: 650px;
      object-fit: cover;
    }

    .text-content{
      width: 900px;
      height: auto;
    }

    .text-content h5{
      font-size: 38px;
    }

    .text-content h1{
      font-size: 68px;
    }

    .text-content p{
      font-size: 36px;
    }

    .experience{
      width: 800px;
      height: auto;
      display: block;
    }

    .chefs{
      margin-top: 30px;
    }


}
