body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    border-radius: 7px;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0044cc;
    padding: 10px 20px;
    color: white;
}

.logo{
    display: flex;
    align-items: center;
}

.navbar h2 {
    margin: 0;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    
    padding: 0;
    width: 75%;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}


.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0044cc;
    padding: 50px;
    color: white;
}

.hero-content {
    max-width: 600px;
}

.hero-content h1 {
    font-size: 40px;
    margin: 0;
    line-height: 1.2;
}

.hero-content p {
    margin: 20px 0;
}

 .hero-button1{
    color: #0044cc;
    background-color: white;
    border-radius: 3px;
    border: transparent;
    font: bolder;
    font-size: 17px;
    width: 140px;
    height: 30px;
}

.get{
    display: flex;
    gap: 17px;
    text-align: center;
    align-items: center;
}

.intro{
    font-size: 17px;
}

.story{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    margin: 50px;
    color: black
}

h4{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}


.who{
    background-color: #0044cc;
   color:  white;
    border-radius: 3px;
    border: transparent;
    font: bolder;
    font-size: 17px;
    width: 140px;
    height: 30px;
}

.vision{
    background-color: white;
    color: black;
    border-radius: 3px;
    border: transparent;
    font: bolder;
    font-size: 17px;
    width: 140px;
    height: 30px;
}

.history{
    background-color: white;
    color: black;
    border-radius: 3px;
    border: transparent;
    font: bolder;
    font-size: 17px;
    width: 140px;
    height: 30px;
}

.large-button {
    position: relative;
    display: inline-block;
    width: 500px; 
    height: 100px; 
}

.large {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    position: relative;
    z-index: 1; 
}


.row {
    position: absolute;
    top: 30px; 
    left: 30px; 
    display: flex;
    gap: 10px;
    z-index: 2; 
}

.para p{
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

.story-content {
    display: flex;
    align-items: flex-start; 
    justify-content: space-between; 
    gap: 80px;
}





@media (max-width: 769px) {
    .navbar{
       display: block;
    }

    .navbar h2{
        margin-left: 280px;
    }

    .arrow{
        position: absolute;
        left: 260px;
    }


    .imag1{
        margin-left: 100px;
    }

    .large-button{
        margin-left: 90px;
    }

    .nav-links{
        display: flex;
        text-align: center;
        margin-left: 120px;
    }

    .imag{
        width: 450px;
        height: 450px;
    }

    .hero{
        display: block;
    }

    .hero h1{
        padding-left: 0;
        margin-left: 150px;
    }

    .get {
        margin-left: 150px;
    }
    .hero p{
        margin-left: 150px;
    }

    .hero-content{
        max-width: 400px;
    }
    .story{
        padding: 20px;
        margin: 20px;
    }

    .story-content{
        flex-direction: column;
        align-items: center;
    }
}


@media (max-width:320px) {

        .navbar{
            display: block;
        }

        .navbar h2{
            margin-left: 100px;
        }

        .nav-links{
            display: block;
            text-align: center;
            margin-left: 45px;
        }

        .arrow{
            position: absolute;
            left: 88px;
        }
    

        .imag1{
            width: 150px;
            height: 150px;
            margin-left: 40px;
        }

        .imag{
            width: 150px;
            height: 150px;
            margin-right: 350px;
        }

        .fir{
            text-align: center;
            width: 250px;
        }

        .sec{
            text-align: center;
            width: 250px;
        }


        .hero h1{
            margin-left: 20px;
        }

        .hero p{
            margin-left: 10px;
        }
        

        .get{
            display: block;
            margin-left: 2px;
        }

        .play{
            margin-top: 8px;
        }

        .our{
            max-width: 200px;
            text-align: center;
        }

        .soon{
            max-width: 180px;
            text-align: center;
        }

        .row{
            display: block;
        }
        .vision{
            display: block;
        }

       .large{
        width: 200px;
        height: 140px;
        margin-left: 1px;
       }

       .vroom{
        margin-left: 10px;
       }

    }