.navbar {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 10px;
    color: white;
}

.first{
    list-style: none;
    display: flex;
    gap: 71%;
    margin: 2px;
    padding: 0;
    width: 100%;
}

svg{
    color: rgb(226, 112, 37);
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color:rgb(223, 223, 223) ;
}

a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar2{
    background-color: rgb(223, 223, 223);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 10px;
    color: white;
}


.second{
        display: flex;
        list-style: none;
        gap: 20%;
        margin: 8px;
        padding-left: 0;
        width: 100%;
}


.smp,.smp1{
    text-decoration: none;
    color: rgb(35, 114, 187);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;   
}

.smp2,.smp3,.smp4{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif; 
}

.repair{
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 180px;
    left: 250px;
    
}

h3{
    color:rgb(35, 114, 187) ;
    font-size: 40px;
    text-align: left;
    margin-bottom: 30PX;
}

button{
    background-color:rgb(226, 112, 37) ;
    border: none;
    width: 130px;
    height: 30px;
    border-radius: 4px;
    margin-top: 22px;
    color: white;
    font-size: 16px;
    text-align: center;
}


.empty{
    background-color: white;
    width: 100%;
    height: 90px;
    position: absolute;
    bottom: 1px;
}

.repair1{
    background-color: white;
    width: 200px;
    height: 130px;
    position: absolute;
    bottom: 2px;
    left: 400px;
    border: 1px solid gray;
}

.improve{
    background-color: white;
    width: 200px;
    height: 130px;
    position: absolute;
    bottom: 2px;
    left: 630px;
    border: 1px solid gray;
}


.maintain{
    background-color: white;
    width: 200px;
    height: 130px;
    position: absolute;
    bottom: 2px;
    left: 850px;
    border: 1px solid gray;
}

h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.tools,.house-gear,.house-fill{
    padding: 20px;
    padding-left: 68px;
}

.re,.se,.fe{
    padding-left: 58PX;
    
}
